
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: #fae9dd; */
  align-items: center;
  padding-bottom: 9.6rem;
}

.heading-title {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 6rem;
  font-weight: 600;
  color: #333;
  letter-spacing: -0.5px;
  padding: 6rem;
  padding-bottom: 02rem;
  padding-left: 18rem;

  transform: translate(0, 35%);
}

.about-us-text {
  padding: 9.6rem;
  font-size: 2rem;
  margin-bottom: 8rem;
  line-height: 1.8;
  padding: 2rem 5rem;
}

.gallery-item,
.about-img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item {
  overflow: hidden;
}

.about-img {
  border-radius: 2%;
}

.gallery-item:hover,
.about-img:hover {
  transform: scale(1.05);
  border-radius: 2%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  padding: 1.8rem;
  background-color: #fae9dd;
}

